# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C / C++ build outputs
*.exe
*.out
*.o
*.obj

# Java build outputs
*.class
*.jar

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
